<?xml version="1.0"?>
<robot name="testing_environment" xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:arg name="robot_name" default="testing_environment"/>
  <xacro:arg name="arm_A_robot_model" default="wx200"/>
  <xacro:arg name="arm_B_robot_model" default="wx200"/>

  <xacro:arg name="default_gripper_bar" default="true"/>
  <xacro:arg name="default_gripper_fingers" default="true"/>
  <xacro:arg name="external_gripper_urdf" default="false"/>
  <xacro:arg name="external_gripper_urdf_loc" default=""/>
  <xacro:arg name="gazebo" default="false"/>
  <xacro:arg name="moveit" default="false"/>

  <!-- Relative displacement between arm A and arm B -->
  <xacro:arg name="relative_x" default=""/>
  <xacro:arg name="relative_y" default=""/>
  <xacro:arg name="relative_z" default=""/>
  <xacro:arg name="relative_roll" default=""/>
  <xacro:arg name="relative_pitch" default=""/>
  <xacro:arg name="relative_yaw" default=""/>

  <!-- Importing Interbotix's URDF files for WidowX_200-->
  <xacro:include filename="$(find interbotix_descriptions)/urdf/wx200_modified.urdf.xacro"/>

  <!-- Call the init_widow_200 macro and give it the "arm A" namespace-->
  <xacro:init_widow_200 namespace="arm_A"/>

  <!-- Call the init_widow_200 macro and give it the "arm B" namespace-->
  <xacro:init_widow_200 namespace="arm_B"/>

  <!-- world link -->
  <!-- <link name="world"/> -->

  <!-- dummy link -->
  <link name="link0"/>
  <!-- <joint name="world_joint" type="fixed">
    <parent link="world"/>
    <child link="link0"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint> -->

  <!-- Arm A joint -->
  <joint name="link0_joint_arm_A" type="fixed">
    <parent link="link0"/>
    <child link="$(arg arm_A_robot_model)_arm_A/base_link"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>

  <!-- Arm B joint -->
  <joint name="link0_joint_arm_B" type="fixed">
    <parent link="link0"/>
    <child link="$(arg arm_B_robot_model)_arm_B/base_link"/>
    <origin xyz="$(arg relative_x) $(arg relative_y) $(arg relative_z)" rpy="$(arg relative_roll) $(arg relative_pitch) $(arg relative_yaw)"/>
  </joint>

</robot>
