<launch>
  <!-- By default we do not overwrite the URDF. Change the following to true to change the default behavior -->
  <arg name="load_robot_description" default="false"/>

  <!-- The name of the parameter under which the URDF is loaded -->
  <arg name="robot_description" default="robot_description"/>

  <!-- x,y,z and r,p,y args -->
  <arg name="relative_x" default=""/>
  <arg name="relative_y" default=""/>
  <arg name="relative_z" default=""/>
  <arg name="relative_roll" default=""/>
  <arg name="relative_pitch" default=""/>
  <arg name="relative_yaw" default=""/>

  <!-- Load universal robot description format (URDF) -->
  <param if="$(arg load_robot_description)" name="$(arg robot_description)" command="xacro  '$(find interbotix_descriptions)/urdf/testing_environment.urdf.xacro'
    relative_x:=$(arg relative_x) relative_y:=$(arg relative_y) relative_z:=$(arg relative_z)
    relative_roll:=$(arg relative_roll) relative_pitch:=$(arg relative_pitch) relative_yaw:=$(arg relative_yaw)"/>

  <!-- The semantic description that corresponds to the URDF -->
  <param name="$(arg robot_description)_semantic" textfile="$(find testing_environment_moveit)/config/testing_environment.srdf" />

  <!-- Load updated joint limits (override information from URDF) -->
  <group ns="$(arg robot_description)_planning">
    <rosparam command="load" file="$(find testing_environment_moveit)/config/joint_limits.yaml"/>
  </group>

  <!-- Load default settings for kinematics; these settings are overridden by settings in a node's namespace -->
  <group ns="$(arg robot_description)_kinematics">
    <rosparam command="load" file="$(find testing_environment_moveit)/config/kinematics.yaml"/>
  </group>

</launch>
